*{
	margin: 0;
	padding: 0;
}

#box{
	width: 1400px;
	height: 600px;
	position: relative;
}

#box>*{
	width: 1400px;
	height: 600px;
	position: absolute;
}

#div1{
	background-image: url(../images/map/background1unsodded2.jpg);
}

#div2{
	width: 255px;
	height: 108px;
	left: 572px;
	top: 246px;
	display: none;
}

#div3{
	width: 331px;
	height: 292px;
	left: 534px;
	top: 154px;
}
#div3>img{
	cursor: pointer;
}

#div1>*{
	position: absolute;
}
.zombie{
	left: 1000px;
	top: 320px;   /*120 230  320 */
	width: 166px;
	height: 144px;
	overflow: hidden;
}
#heros{
	background: url(../images/map/SunBack.png)  no-repeat;
	background-size: 100% 100%;
	left: 200px;
	top: 20px; 
	width: 246px;
	height: 68px;
	display: none;
}
#heros>img{
	position: absolute;
	left: 100px;
}
.hero{
	position: absolute;
	left: 300px;
	top: 20px;
	width: 71px;
	height: 71px;
}
